$columns: 3
$black: #1a1a1a

*
    margin: 0

%flex-center
    display: flex
    justify-content: center
    align-items: center

body
    @extend %flex-center
    font-family: Roboto
    background: $black
    color: #b5b5b5
    font-size: 16px
    margin: 0
    min-height: 100vh
    flex-direction: column
    justify-content: flex-start

a
    text-decoration: none
    color: inherit

.nav
    margin-top: 0px
    display: flex
    height: 75px
    background: $black
    position: fixed
    padding-top: 60px
    z-index: 99

.container
    justify-content: space-between
    width: calc(100% - (100% / 6))
    padding-left: 8.33%
    padding-right: 8.33%

.nav__links
    @extend %flex-center
    list-style: none
    padding: 0
    margin: 0

.nav__logo,
.nav__link
    @extend %flex-center

.nav__logo
    img
        display: block        

.nav__link
    height: 45px
    margin: 0 20px
    transition: 0.2s ease-out

    &:hover
        border-color: #ffffff
        color: #ffffff

.nav__link-bordered
    border-radius: 23px
    border: 2px solid #303030
    width: 110px
.hamburger
    display: none    

.scroll-downs
    position: absolute
    right: 0
    bottom: 55px
    left: 0
    margin: auto
    width: 34px
    height: 55px

.mousey
    width: 3px
    padding: 6px 10px
    height: 35px
    border: 2px solid rgba(255, 255, 255, 128)
    border-radius: 25px
    box-sizing: content-box
    opacity: 0.75

.scroller
    width: 3px
    height: 10px
    border-radius: 25%
    background-color: #fff
    animation-name: scroll
    animation-duration: 2.2s
    animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94)
    animation-iteration-count: infinite

@keyframes scroll
    0%
        opacity: 0

    10%
        transform: translateY(0)
        opacity: 1

    100%
        transform: translateY(15px)
        opacity: 0

.main
    @extend %flex-center

    flex-direction: column
    height: calc(100vh - 135px)
    width: 100%
    margin-top: 135px
    position: relative

.wrapper
    @extend %flex-center

    position: absolute
    flex-direction: column

.main__text
    font-weight: 700
    font-size: 48px
    line-height: 60px
    max-width: 800px
    text-align: center
    color: #9f9f9f
    

.main__text-lightner
    color: white

.main__link
    @extend %flex-center

    font-size: 18px
    margin-top: 25px

    // font-weight: 700

    span
        font-size: 1.4rem
        font-weight: 700
        margin-right: 10px

    a
        text-decoration: underline

    &:hover
        color: white

.projects
    @extend %flex-center

    flex-wrap: wrap

.project
    width: calc(100% / #{$columns})

    // // opacity: 0
    // transition: 0.6s ease-in
    // // transform: scale(0.75) rotateZ(90deg)
    // &:nth-of-type(2n)
    //     transform: scale(0.75) rotateZ(-90deg)

    // &.active
    //     opacity: 1
    //     transform: scale(1)

.project__link
    height: 100%
    display: block
    position: relative
    overflow: hidden

    &:hover,
    &:focus
        .project__content
            visibility: visible
            opacity: 1

        .project__img
            transform: scale(1.2)

.project__img
    width: 100%
    height: 100%
    display: block
    transition: transform 0.5s

.project__content
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    visibility: hidden
    opacity: 0
    top: 0
    bottom: 0
    left: 0
    right: 0
    flex-direction: column
    background: rgba(0, 0, 0, 0.85)
    transition: visibility 0.5s, opacity 0.5s
    text-align: center

    h3
        font-size: 44px
        color: white
        

.footer
    @extend %flex-center

    height: 165px
    font-size: 14px

.footer__link
    color: white

.footer__coder
    margin-top: 20px

    .coded
        color: #ffc600

.back__arrow
    color: white
    opacity: 0.4
    transition: opacity 0.3s
    cursor: pointer

    &:hover
        opacity: 1

@media (max-width: 1100px)
    $columns: 2

    .project
        width: calc(100% / #{$columns})

@media (max-width: 710px)
    $columns: 1

    body
        font-size: 14px

    .nav
        padding-top: 0
        height: 55px
        height: 55px
        background: #1a1a1a
        position: fixed

    .nav__links
        position: absolute
        top: 55px
        left: 0
        right: 0
        width: 100vw
        height: calc(100vh - 55px)
        transition: .4s linear
        background: rgba(26, 26, 26, 0.96)
        z-index: -1
        flex-direction: column
        transform: translateX(-100%)
    .fixed
        transform: translateX(0)
        transition: .4s cubic-bezier(0, 0.45, 0.56, 0.96)

    .nav__link
        margin: 20px 0
        // height: 65px
        font-size: 18px

    .nav__link-bordered
        width: 95px

    .hamburger
        display: inline-block   

    .main  
        height: calc(100vh - 55px)
        margin-top: 55px   

    .main__text
        font-size: 44px
        line-height: 48px 
        padding: 0 15px  
        max-width: 80%

    .project
        width: calc(100% / #{$columns})

@media (max-width: 710px), (max-height: 600px) 
    .scroll-downs
        display: none          

@media (max-width: 450px)
    .main__text
        font-size: 34px
        line-height: 40px 
        padding: 0 15px  

    .footer
        height: 120px    

    .footer__coder,
    .footer__rights
        font-size: 11px
